<br />
<h2>Welcome to Test App 2.0</h2>
<br /><br /><br />
<%= link_to 'Login', home_login_path, class: "ui small green button" %>
 <strong>Or</strong>  
<%= link_to 'Signup', home_signup_path, class: "ui small blue button" %>
